<%= form_for [@post, @comment], url: user_post_comment_path do |f| %>
  <%= render 'shared/error_messages', object:(@comment) %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="action">
    <%= f.submit "Post", class: "btn btn-primary"%>
  </div>
<% end %>
