<%= form_for [@user, @post], url: user_posts_path(@user, @post) do |f| %>
  <%= render 'shared/error_messages', object:(@post) %>
  <div class="field">
    <%= f.text_area :content, placeholder: "What's on your mind?" %>
  </div>
  <div class="field">
    <span>Tags: </span>
    <%= f.fields_for :tags, @post.tags.build do |tags_fields| %>
      <%= tags_fields.text_field :name,  placeholder: "Create new tag"%>
    <% end %>
  </div>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |b| %>
        <%= b.label class:"checkbox-inline" do%>
         <%=b.check_box + b.text %><br>
        <%end%>
    <% end %>

  <div class="action">
    <%= f.submit "Post", class: "btn btn-primary"%>
  </div>
<% end %>
