<li id="post-<%= post.id%>">
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content"><%= link_to post.content, user_post_path(post.user, post) %></span>
  <% post.tags.each do |tag| %>
    <nobr><span class="tag"><%= tag.name %></span></nobr>
  <% end %>
  <!-- #using helper method time_ago_in_words -->
  <span class="timestamp">Posted<%= time_ago_in_words(post.created_at)%> ago.</span>
</li>
