<div class="col-md-4">
  <h3><%= @post.content %></h3>
  <span class="user">posted by <%= link_to @post.user.name, @post.user %></span><br>
  <span class="timestamp">Posted<%= time_ago_in_words(@post.created_at)%> ago.</span>
  <br><br>
  <span><b>Tag: </b></span><br>
  <% @post.tags.each do |tag| %>
    <span class="tag"><%= tag.name %></span><br>
  <% end %><br>
  <%= link_to "Add Comment", new_user_post_comment_path(user_id: current_user.id, post_id: @post.id) %>
</div>

<div class="col-md-8">
  <% if @post.comments.any? %>
  <h4>[Comments]</h4><br>
      <% @post.comments.each do |comment| %>
      <div>
        <h5><%= comment.content %></h5>
        <span class="user">commented by <%= link_to comment.user.name, comment.user %></span>
        <% if current_user?(comment.user) %>
          <%= link_to "| Delete Comment", user_post_comment_path(@post.user, comment.post, comment), method: :delete, data: { confirm: "You sure?" } %>
          <%= link_to "| Edit Comment", edit_user_post_comment_path(@post.user, comment.post, comment) %>
        <% end %>
      </div><br>
      <% end %>
  <% end %>
<div>
